#app {
    max-width: 1200px;
    width: 0 auto;
    padding: 60px 30px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#app main {
    margin-left: 30px;
}

@media (max-width: 1000px) {
    #app {
        flex-direction: column;
    }

    #app main {
        margin-left: 0;
        margin-top: 30px
    }

    #app aside {
        width: 100%;
    }
}

.counter {
    width: 20%;
    height: auto;
    margin-bottom: 20px;
    background: #FFFF;
    padding: 1px 10px;
    border-radius: 30px;
    box-sizing: border-box;
}

.counter span {
    font-size: 27px;
    font-weight: 700;
    color: #6931ca;
    position: relative;
    top: 3px;
}

@media (max-width: 760px) {
    .counter {
        width: 46%;
        height: auto;
        margin-bottom: 20px;
        background: #FFFF;
        padding: 1px 10px;
        border-radius: 30px;
    }
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}