#app {
    max-width: 1200px;
    width: 0 auto;
    padding: 60px 30px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#app main {
    margin-left: 30px;
}

@media (max-width: 1000px) {
    #app {
        flex-direction: column;
    }

    #app main {
        margin-left: 0;
        margin-top: 30px
    }

    #app aside {
        width: 100%;
    }
}

/* Modal Content */
.modal-content {
    position: fixed;
    background-color: #6931ca;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 58%;
    height: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }